@charset "UTF-8";

/* ----- ALL LEVELS (incl. first) */

ul.dropdown {
	font-size:14px
}

	ul.dropdown li {
	 padding: 7px 0;
	 /*background-color: #000;*/
	 color: #96CDF2;
	 line-height: normal;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #96CDF2; text-decoration: none; }
	ul.dropdown a:hover { color: #bae3ff; text-decoration: none; }
	ul.dropdown a:active { color: #96CDF2; }


/* ----- END LEVEL */


	/* ----- NON-FIRST LEVEL */

	ul.dropdown ul {
	 width: 170px;
	 background-color: #333;
	 color: #96CDF2;
	 font-size: 11px;
	 text-transform: none;
	 filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;
	}

		ul.dropdown ul li {
		 background-color: transparent;
		 color: #000;
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: transparent;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #FFFFFF; }
		ul.dropdown ul a:hover { color: #424242; text-decoration: none; }
		ul.dropdown ul a:active { color: #FFFFFF; }


/* ----- END LEVEL */



/*------------------------------------------------------------------------------------------------------/
 * @section	Support Class 'dir'
 * @level sep	ul, .class
 */


/* ----- ALL LEVELS (incl. first) */

ul.dropdown *.dir {
/* padding-right: 12px;*/
 padding-left:11px;	
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

/* ----- END LEVEL */


/* Components override */

