/*---------------------------------
	IMPORTS
	-----------------------------------*/
	@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
	@import url(table.css);
	@import url(input[checkbox].css);

/*---------------------------------
	OVERRIDES
	-----------------------------------*/
	h1,h2,h3,h4,h5,h6{
		font-family: "Arimo", arial, verdana, sans-serif;
		font-weight:normal;
	}

	thead th,
	tbody th{
		font-family: "Arimo", arial, verdana, sans-serif;
	}

	button,
	a.btn,
	input[type="submit"],
	input[type="reset"],
	input[type="button"]{
		font-family: "Arimo", arial, verdana, sans-serif;
	}

	.menu{
		font-family: "Arimo", arial, verdana, sans-serif;
	}

	blockquote{
		font-family: "Arimo", arial, verdana, sans-serif;
	}

/*---------------------------------
	LAYOUT
	-----------------------------------*/
	body{
		margin:0;
		padding:0 0 0 0;
		color:#000;
		background:#efefef url(css/img/gray_jean.png);
		font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
		text-shadow: 0 0 1px transparent; /* google font pixelation fix */
	}

	#wrap{
		width:60%;
		padding: 10px;
		background:#fff;
		margin:30px auto 30px auto;
		padding:0 2%;
		border:1px solid #ccc;
	}

	
