#header {
	background:url("/images/header_admin_bg.jpg") repeat-x left top #231f20;
	padding-top:10px;
	height:100px;
}


#header h1 {
	text-align:left;
	color:#FFFFFF;
	vertical-align:middle;
	font-size:27px;
	margin-top:26px;
/*	margin-top:-height: 36px;
	margin:0;
	margin-top: 10px;
	margin-left:40px;*/
}