canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#resetZoom{
    font: 14px Tahoma;
    height: 26px;
    background-color: #e6f2ff;
}

#chartZoom{
    border: 2px double gray;
    height: 200px;
    width: 250px;
    align-content: center;
}

#fullScreen{
    font: 14px Tahoma;
    height: 26px;
    background-color: #e6f2ff;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(255, 255, 255, .7);
    color: black;
    font-size: 14px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#zoom-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(255, 255, 255, .7);
    color: black;
    font-size: 14px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.zoom-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.radio_buttons {
    font: 14px Tahoma;
}
.radio_buttons div {
    width: 130px;
}
.radio_buttons input {
    position: absolute;
    left: -9999px;
}
.radio_buttons label {
    display: block;
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.radio_buttons input:checked + label {
    background: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
    color: #191966;
}
.radio_buttons div:first-child label {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.radio_buttons div:last-child label {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
#min_container{
    position: absolute;
    width: 130px;
}
#max_container{
    position: absolute;
    width: 130px;
    margin-left: 140px;
}
#min_container input{
    width: 110px;
    font: 14px Tahoma;
}

#max_container input{
    width: 110px;
    font: 14px Tahoma;
}
.top_div{
    position: relative;
    margin-left: 270px;
    width: 50px;
}
.top_div input{
    font: 14px Tahoma;
    background-color: #e6f2ff;
}
.visible_container{
    position: relative;
    margin-top: 13px;
}
.visible_container input{
    width: 150px;
    height: 27px;
    font: 14px Tahoma;
    background-color: #e6f2ff;
}

.resize input{
    width: 120px;
    height: 27px;
    font: 14px Tahoma;
    background-color: #e6f2ff;
}
#spectra{
    margin-left: 20px;
}
#new_atom{
    font: 14px Tahoma;
    height: 26px;
    background-color: #e6f2ff;
}
.chartCont, .tools{
    display: inline-block;
    vertical-align: top;
}
#first_cont{
    display: inline-block;
}
#second_cont{
    margin-left: 25px;
    display: inline-block;
}
.tools{
    margin-left: 40px;
}
.nav{
    horiz-align: left;
    margin-top: 10px;
}
rect:hover {
    fill-opacity:1;
    fill: yellow;
}
rect {
    fill-opacity:0.15;
    fill: gray;
}

svg div{
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font-family: "Times New Roman";
    padding: 5px 0;
}