* {
margin: 0;
padding: 0;
border: 0;
}

select{
	border: solid 1px #666666;
}

html, body {
width: 100%;
height: 100%;
}

* html #wrapper {
/*height: 100%;*/
}

body {
background:url("/images/body_bg.jpg") repeat-x left top #fff;
color: #444;
font-weight: normal;
font-size: 16px;
}

#logo img { behavior: url("/js/iepngfix.htc") }
 

#wrapper {
position: relative;
/*margin: 0 auto;*/
min-height: 100%;
}

.content {
	padding-bottom: 110px;
}

p {
	overflow: hidden;
	padding: 10px 0;
	text-align: justify;
	margin:0;
}

/*
.diagrams #main,
.diagrams #main_cont
 {
	width:100%;
}

#main embed {
	float:none;
}
*/


ul {
	margin:0;
}

ul li {
	padding: 5px 0;
}

li.menu_elements,
li.menu_levels,
li.menu_transitions,
li.menu_diagrams,
li.menu_spectra
{
	padding: 0;
}

table {
	margin:0;
}


a{
/*-moz-border-radius:14px 14px 14px 14px;*/	
	color:#96cdf2;
	font-size:14px;
	text-decoration:underline;

}

a:hover {
	/*color:#bae3ff;*/
	color: rgb(125,123,255);
}

td.name{
	padding-right:10px;
	//align:"right";
	//nowrap:"nowrap";
	//valign:"middle";
}

td.dimension{
	padding-left:5px;
	font-size:13px;
}

/*
select {
	height:23px;
	margin:0;
	margin-top:2px;
	border-color: #c8c8c8;
} */



h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
}

h2 {
	text-align: left;
	padding-top:5px;
	margin-bottom:5px;

}


.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
/*	font: 15px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;*/
/*	padding: .5em 2em .55em;*/
/*	text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
/*	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em; */
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#element_btn{
	padding: 0 5px;	
}

#filterBtn{
	margin-left:0;
}

#element{
	padding: 0 5px;		
}


div.image a {
				float:left;
				text-decoration: none;
				color: inherit;
				cursor: pointer;
				margin: 14px;
				display: inline-block;
				background: white;
				padding: 3px;
				line-height: 0;
				-webkit-border-radius: 4px 4px;
				-moz-border-radius: 4px 4px;
				border-radius: 4px 4px;
				-moz-box-shadow: 0px 0px 8px #AAA;
				-webkit-box-shadow: 0px 0px 8px #AAA;
				box-shadow: 0px 0px 8px #AAA;
				-webkit-transition: -webkit-box-shadow 0.1s ease-out;
				-moz-transition: -webkit-box-shadow 0.1s ease-out;
				-o-transition: -webkit-box-shadow 0.1s ease-out;
				transition: -webkit-box-shadow 0.1s ease-out;
			}

			div.image a img
			{				
				border: none;
				padding: 0;
				-webkit-border-radius: 4px 4px;
				-moz-border-radius: 4px 4px;
				border-radius: 4px 4px;
			}

			div.image a:hover
			{
				-moz-box-shadow: 0px 0px 8px #222;
				-webkit-box-shadow: 0px 0px 8px #222;
				box-shadow: 0px 0px 8px #222;
			}



#ions span,
#ions a
{
	font-size: 23px;
	padding: 0 10px;
}

#ions span.ions,
#ions a
{
	padding: 0 10px;
}

.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;

}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.selected {
	color: #a2262f;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}


.element_picker{
	position:absolute;
	display:none;
	z-index:10000;
 	background-color: #FFF;
 	width: 495px;
 	height: 283px;
	
}

.index .element_picker,
.about .element_picker,
.links .element_picker,
.bibliography .element_picker,
.team .element_picker,
.sponsor .element_picker
{
	margin-top:35px;
}

table.periodic_table {
	text-align:center;
	vertical-align:top;
}

.periodic_table td, .periodic_table th {
	vertical-align:middle;
/*	padding: 2px 6px; */
	width:25px;
	height:25px;
}


tr.periodic_header th,
th.periodic_header
{
	font-size:10px;
	font-weight:bold;
	border:1px solid #000000;
}


.plink {
	text-decoration:none;

}

.pnum{
	font-size:9px;
	color:#333333;
	line-height:11px;
	display:block;
		
}

.pname{	
	font-size:12px;
	color:#333333;
	line-height:12px;
	padding-bottom:2px;
	display:block;
}

.pick:hover {
	cursor:pointer;
	*cursor:hand;
	background-color:#dcecf8;
	border:1px solid #000;
}


/*Other non metals*/
.onm {
	background-color: #FFCC66;
	border:1px solid #000; 
}

/*Alkali Metals*/
.am {
	background-color:#6699FF;
	border:1px solid #000; 
}

/*Alkali Earth Metals*/
.aem {
	background-color:#DDA0DD;
	border:1px solid #000; 
}

/*Transition Metals*/
.tm {
	background-color:#F5F5DC;
	border:1px solid #000;
}

/*Other Metals*/
.om {
	background-color:#CDEB8B;
	border:1px solid #000;
}

/*Metalloids*/
.mo{
	background-color:#CCCC99;
	border:1px solid #000;

}

/*Halogens*/
.hl{
	background-color:#ADE8C7;
	border:1px solid #000;
}

/*Noble Gases*/
.nb {
	background-color:#E6E6FA;
	border:1px solid #000;
}

/*Lanthanide*/
.lan {
	
	background-color:#e4e4e4;
	border:1px solid #000;

}

/*Actinide*/
.act {
	background-color:#d0d0d0;	
	border:1px solid #000;

}


/*SuperActinide*/
.sact {
	background-color:#A9A9A9;
	border:1px solid #000;

}
.empty{
	border: 1px solid #000000;
	background-color:#FFF;
	font-size:10px;
	height:25px;
	width:25px;
	position:absolute;
	float: left;
	text-align: center;
	margin-top:10px;
}

.head{
	margin-top:5px;
}

.pname_head {
    color: #333333;
    font-size: 12px;
    height: 18px;
    line-height: 12px;
    margin-top: 7px;
    display:block;
}

.element_table{
	height: 640px;
}

.newperiodic .pick {    
	display: inline;
    float: left;
	width:25px;
	text-align: center;
	position:absolute;
}

.periodic .pick {    
	display: inline;
    float: left;
	width:60px;
	text-align: center;
	position:absolute;
}

.periodic .empty{
	border: 1px solid #000000;
	background-color:#FFF;
	font-size:12px;
	height:50px;
	width:60px;
	position:absolute;
	float: left;
	text-align: center;
	/*padding-top:15px;*/	
}


.periodic .emptyPeriod{
	border: 1px solid #000000;
	background-color:#FFF;
	font-size:12px;
	height:50px;
	width:20px;
	position:absolute;
	float: left;
	text-align: center;	
	/*padding-top:15px;*/	
}

.periodic .emptyGroup{
	border: 1px solid #000000;
	background-color:#FFF;
	font-size:12px;
	height:20px;
	width:60px;
	position:absolute;
	float: left;
	text-align: center;

	/*padding-top:15px;*/	
}

a.selected{
	background-color:#9ed7ff;
}

.periodic .empty .head{
	margin-top: 20px;
}

.periodic .emptyPeriod .head{
	margin-top: 18px;
}

.periodic .emptyGroup .head{
	margin-top: 3px;
}

.periodic .pick a{
	height: 50px;
	display: block;
}


.periodic .pnum{
	padding-top:4px;
	font-size:11px;
	color:#333333;
	line-height:13px;
	display:block;
		
}

.periodic .pname{	
	font-size:14px;
	color:#333333;
	line-height:15px;
	padding-bottom:2px;
	display:block;
}

.periodic .ptitle{	
	font-size:9px;
	color:#333333;
	line-height:13px;
	padding-bottom:2px;
	display:block;
}

#header {
	background:url("/images/header_bg.jpg") repeat-x left top #231f20;
	padding-top:10px;
	height:100px;
}


#header #logo {
	width:auto;
}

#header #logo a {
/*	background:url("/images/logo1.png") no-repeat scroll 0 0 transparent;*/
	border:0 none;
	display:block;
}


#header h1 {
	text-align:left;
	color:#FFFFFF;
	vertical-align:middle;
	font-size:27px;
	margin-top:26px;
/*	margin-top:-height: 36px;
	margin:0;
	margin-top: 10px;
	margin-left:40px;*/
}



#menu {
	background:url("/images/menu_bg.jpg") repeat-x left top #3d3e3e;
	height:36px;
/*padding-bottom:35px;*/
/*padding:60px 0;*/
}

#menu .grid_10{
	margin-left:0;
}

#menu .container_12{
	display:block;
}


#menu_primary {
padding:0;
}


#menu_primary{
	list-style-type:none;
	overflow:hidden;
}

#menu_primary ul li {
	float:left;
	margin-left:0px;
	list-style: none;
}


#menu_primary ul li a {
/*-moz-border-radius:14px 14px 14px 14px;*/	
	color:#ededed;
	display:block;
	font-size:18px;
	font-weight: 100;
	padding:6px 15px;
	text-align:center;
	text-decoration:none;
}

#menu_primary ul li a:hover,
.home li.menu_home a,
.lines li.menu_lines a,
.transitions li.menu_transitions a,
.levels li.menu_levels a,
.diagrams li.menu_diagrams a,
.diagram li.menu_diagrams a,
.spectra li.menu_spectra a,
.spectrum li.menu_spectra a,
.element li.menu_elements a,
.elements li.menu_elements a
{
background:none repeat scroll 0 0  #262726;
color:#FFFFFF;
}

#menu_primary{
	*width:560px;
}

#menu_secondary{		
	padding-left:13px;	
	/*width:380px;*/
	float:right;
	display:inline-block;	
}

/*
#menu_secondary a{
moz-border-radius:14px 14px 14px 14px;
	color:#96cdf2;
	display:block;
	font-size:14px;
	text-decoration:underline;
	float: left;
	margin-left: 15px;
	margin-top: 7px;
}

#menu_secondary a:hover {
	color:#bae3ff;
}
*/	

.bibliography #menu_secondary a.menu_bibliography, .links #menu_secondary .menu_links, .about #menu_secondary .menu_about{
	color:#BAE3FF;
	text-decoration:none;

}

.article_menu {
	background-color:#3d3e3e;
	padding:10px;
}

.article_menu a {	
	color:#dadada;
}
.article_menu li {
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:5px;
}

.article_menu li ul {
	display:none;
}

.publication_1 #parent_1 #parent_link, .publication_2 #parent_1 #parent_link{
	color:#FFFFFF;
	font-weight:bold;		
}

.publication_1 #parent_1 ul, .publication_2 #parent_1 ul{
	display: block;
}

.publication_1 #sub_1 a, .publication_2 #sub_2 a{
	color:#FFFFFF;
}


li.act #parent_link{
	color:#FFFFFF;
	font-weight:bold;
}

.locale {
	position:relative;
	right:10px;
}

.locale #act {
	background-color:#4A4A4A;
	text-decoration:none;

}

#panel,#panel1 {
	background:url("/images/panel_bg.jpg") repeat-x left top #9ed4fa;
	display: none;	
	padding:10px 0;
}


.tpanel {
	*background:url("/images/panel_bg.jpg") repeat-x left top #9ed4fa;
	*padding-bottom:10px;
}


#panel .grid_12,
#panel .grid_8,
#panel .grid_7,
#panel .grid_6,
#panel .grid_5,
#panel .grid_4,
#panel .grid_3,
#panel .grid_2,
#panel .grid_1
 {
	position:static;
}

#panel h4 {
	color:#FFFFFF;
	margin-bottom:0;
}

.slide {
	height:15px;
/*	background: #c5e6fc;*/
	background: #9ed4fa;
}

.btn-slide {
	background:url("/images/panel_arrow.gif") no-repeat scroll 50% -32px transparent ;
	color:#FFFFFF;
	display:block;
	margin:0 auto;
	text-align:center;
	text-decoration:none;
	width:100%;
	height:100%
}

.slide:hover {
	background: #e1f3ff;
	background-color:#c5e6fc;
}


.active {
	background-position: 50% 2px;
	background-color:#c5e6fc;
}

.toolbar {
	float:right;
	padding: 4px 0;
	/*padding-right:10px;*/
}

.toolbar input{
	padding: 2px 4px;
}

#panel .button{
	padding: 2px 4px;
}

.new_diagram{
	background:none;
}

/*
#main {
    padding-bottom: 122px;
	*padding-bottom: 94px;
}
*/

.brake {
    padding-top:5px;
}

.search_form select{
/* width:210px;*/	
}

.manage_source #accept_button{
	float:right;
	padding-top:8px;	      
}

.manage_source #adding_button{
	text-align: center;
	padding-top: 5px;
}

.manage_source a:hover{
	color:#606060;
}

#old_source, #new_source{
	/*background: white;*/
	margin:0 1px;	
}



#table1 {
	width:960px;
}

#loginform input{
	border: #E3E3E3 solid 1px;
}


#inputAtomform input,#inputAtomform textarea,#inputAtomDiagramForm textarea{
	border: #E3E3E3 solid 1px;
}

#biblioSearchField{
	border: #AAA 1px solid;
	margin-right:3px;	
}


#table1 input,
#edit_source_table input{
	text-align: center;
	color: #F6931F;
	font-weight: bold;
	border: #AAA 1px solid;
	width: 100%;
}

table a{
	color:	#6b7db3;
}

table a:hover{
	color:	#5c6b99;
}

#edit_source_table td#source_edit,
#edit_source_table td#authors_edit{
	padding:0;
}

td#source_edit table tr td,
td#authors_edit table tr td{
	border: 0;
}

td.author_name{
	width:185px;
}


#edit_source_table table{
	width: 100%;	
}


#edit_source_table table td,
#edit_source_table table td input
{
	font-weight: normal;
	color: #000;
	text-align: left;
}

#edit_source_table table td.author_controls{
	text-align:right;
	padding: 3px 5px;
}

#table1 td.term input
{
	width: 15px;	
}

.toolbar .button,
#accept_button .button{
	padding: 2px 8px;
	margin-left:5px;
}

table .button{
	padding: 0px 4px;
}

#edit_author, #save_author{
	width: 114px;
}

.froam {
	width:50%; 
	text-align:center;
	float:left;
}

#txt p{
	/*text-align:justify;*/
}

#txt .center_text{
	text-align:center;
}

#txt a {
	color:#444444;
}

#txt li a:hover {
	color:#818181;
}

#txt td {
	padding: 10px;
}

#txt .border{
	border:2px solid black;
}

#txt .sponsors td{
	padding-left:0px;
}

#txt .sponsors td.year{
	
	width:110px;
}

#txt .sponsors td a{
    float: right;
    margin-left: 10px;
	width: 200px;
}
#txt .sponsors td div{
	margin-right: 200px;
}

h4{
margin-bottom:0;

}


#footer {
	position: absolute;
	bottom: 0;
	width:100%;
	background: #003357;
	color:#c6c6c6;
	height: 110px;
	font-size: .9em;
/*	margin: -50px auto 0;*/
}

#footer p {
	padding: 5px 0;
	font-size:14px;
}


