.popupconfigerror { background: pink; position: absolute; height: 20px; padding: 3px 10px 0px;}

tr.even td.errorText, 
tr.odd td.errorText,
table.display tbody tr:hover td.errorText
{
	background-color: pink;	
}

tr.even td.errorText span, tr.odd td.errorText span {  
  z-index: 99;
  margin-left: 0;
  display: none;
}
