svg\:svg {
	display: none;
	
}

.svg_error {
	color: red;
	font-weight: bold;
}

#spectrum form{
	/*background:url("/images/panel_bg.jpg") repeat-x left top #9ed4fa;*/
	padding-bottom:10px;	
}

#minLength, #maxLength, #centerValue, #scaleValue{
	border: #AAA 1px solid;	
}

#spectrum .button{
	padding: 2px 4px;
}

#spectrum_holder {
	/*position:relative;*/
	position:absolute;
    height: 100px;
    left:-480px;      
    background: #333;
    /*width: 960px;*/
    width:10000px;
 /*   margin-right:-20000px;*/
    height:100px;
    background: #333;
    z-index:1000;
}


#spectrum_container{
/*    position: absolute;
	left: 200px;
    top: 200px;*/	
	position:relative;
	width: 960px;
	height: 100px;
	overflow:hidden;
	padding:0;
	border:solid 2px #fff;

}

#positionSlider,
#scaleSlider{
	width: 960px;
	font-size: 62.5%;
}

#secondaryPositionSlider{
	width: 400px;
		font-size: 62.5%;
}

#centerPoint{
	background: #000;
	width:1px;
	height:10px;
	position:relative;	
	left:480px;
}


.ruler{
 width: 960px;
 font-size:12px;
 color:#f6931f; 
 font-weight:bold;
}
#positionMaxValue{
	float: right;
	}
	
#positionMinValue{
	padding-left:0px;
	}
	
#centerRulerValue{
	padding-left:420px;	
}


svg {
	display: block;
}
#svg_wrapper, #svg_wrapper_2 {
    position:relative;
    height:215px;
    overflow:auto;
    width:1000px;
    margin:0 auto;
}
#svg_wrapper svg, #map svg, #svg_wrapper_2 svg, #map_2 svg {
    background:#000;
    height:120px;
}
#end {
    float:right;
}
#center {
    position:absolute;
    left:485px;
}
#ruler {
    background: #fff !important;
    color: #000;
    height: 65px !important;
    font-size: 18px;
}

#map, #map_2 {
    margin-top:30px;
    position: relative;
    width:1000px;
    margin:0 auto;
}
#preview, #preview_2 {
    position:relative;
    height:150px;
    overflow:auto;
    width:1000px;
    margin:30px auto;
}
#map svg, #map_2 svg {
    width:100%;
}
#map_now, #map_now_2 {
    position:absolute;
    top:0;
    left:0;
    height:120px;
    background: rgba(0, 191, 255, 0.4);
}
#zoom_container {
    text-align: center;
}
.bluebtn{
    padding:5px;
    border:none;
    background: #428BCA;
    border:1px solid #357EBD;
    border-radius: 4px;
    color:#fff;
    cursor:pointer;
}
.bluebtn.active {
    background: #3071A9;
    border: 1px solid #285E8E;
}
#toolbar {
    width:700px;
    height:100px;
    padding:10px;
    margin:0 auto;
    background:#eee;
    border-radius:6px;
	position: relative;
}
#toolbar div {
    float:left;
    margin-right:20px;
}
#toolbar .top_div {
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#line_info, #line_info_2 {
	height:20px;
    width:1000px;
    margin:10px auto 0 auto;
}
#min, #max {
	font-size: 16px;
	width:100px;
}