AddDefaultCharset utf8

RewriteEngine on

# disallow access to git and svn directories
RedirectMatch 404 /\.(svn|git)(/|$)
RedirectMatch 404 /\..*

RewriteCond %{HTTP_HOST} ^asd.nsu.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www.asd.nsu.ru$
RewriteRule (.*)$ http://grotrian.nsu.ru/$1 [R=301,L]

RewriteRule ^counter[/]?$ counter.php

RewriteBase /
RewriteRule  ^(.*)diagramm(.*)$  $1diagram$2  [R=301,L]

RewriteRule ^(admin)/([a-zA-Z]+)/([a-zA-Z]+)/([0-9_-]+)/([0-9_-]+)/([a-zA-Z]+)/([0-9_-]+)[/]?$ index.php?interface=admin&lang=$2&pagetype=$3&element_id=$4&attribute1=$5&attribute2=$6&attribute3=$7 [L]
RewriteRule ^(admin)/([a-zA-Z]+)/([a-zA-Z]+)/([0-9_-]+)/([0-9_-]+)/([a-zA-Z]+)[/]?$ index.php?interface=admin&lang=$2&pagetype=$3&element_id=$4&attribute1=$5&attribute2=$6 [L]
RewriteRule ^(admin)/([a-zA-Z]+)/([a-zA-Z]+)/([0-9_-]+)/([0-9_-]+)[/]?$ index.php?interface=admin&lang=$2&pagetype=$3&element_id=$4&attribute1=$4 [L]
RewriteRule ^(admin)/([a-zA-Z]+)/([a-zA-Z]+)/([0-9_-]+)[/]?$ index.php?interface=admin&lang=$2&pagetype=$3&element_id=$4 [L]
RewriteRule ^(admin)/([a-zA-Z]+)/([a-zA-Z]+)[/]?$ index.php?interface=admin&lang=$2&pagetype=$3 [L]
RewriteRule ^(admin)/([a-zA-Z]+)[/]?$ index.php?interface=admin&lang=$2&pagetype=index [L]
RewriteRule ^(admin)[/]?$ index.php?interface=admin&pagetype=index [L]

RewriteCond %{REQUEST_FILENAME} -f [OR] 
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [S=3]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([0-9_-]+)$ index.php?lang=$1&pagetype=$2&element_id=$3
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)[/]?$ index.php?lang=$1&pagetype=$2
RewriteRule ^([a-zA-Z]+)[/]?$ index.php?lang=$1&pagetype=index